/* Debuggin time */

$font-sizes: 18px 16px 14px;
$font-widths: 960px, 640px, 320px;

h1 {
  font-size: 20px;
}

@for $i from 1 through 3 {
  $size: nth($font-sizes, $i);
  $width: nth($font-widths, $i);

  @media screen and (max-width: $width) {
    h1 {
      font-size: $size;

	  @if $width == 320px {
        &.small {
          color: #1D1D1D;
        }
      }
    }
  }
}
